<ion-view view-title="News Feed">
  <ion-content class="padding" id="content">
    <div class="item item-avatar" id="desc">
        <img src="img/hahaha.png">
        <h2><b>What to have?</b></h2>
        <p>Look for the best souvenirs to <br>bring home.</p>
      </div>

    <div id="slider">
      <figure>
        <img id="slide" src="img/lumad.jpg" alt="">
        <img id="slide" src="img/lumad.jpg" alt="">
        <img id="slide" src="img/lumad.jpg" alt="">
        <img id="slide" src="img/lumad.jpg" alt="">
        <img id="slide" src="img/lumad.jpg" alt="">
      </figure>
    </div>

    <div class="item item-avatar" id="desc">
      <img src="img/hahaha.png">
        <h2><b>What to eat?</b></h2>
        <p>Try the best delicacies in here.</p>
    </div>
    
    <div id="slider">
      <figure>
        <img src="img/lumad.jpg" alt="">
        <img src="img/lumad.jpg" alt="">
        <img src="img/lumad.jpg" alt="">
        <img src="img/lumad.jpg" alt="">
        <img src="img/lumad.jpg" alt="">
      </figure>
    </div>
  </ion-content>
</ion-view>
