<ion-view view-title="eSpesyal">
  <ion-content id="content">

    <div class="button-bar">
      <a class="button button-assertive">Delicacy</a>
      <a href="#/tab/handicraft" class="button  button-energized">Handicrafts</a>
    </div>

    <div class="list">
        <a id="data" class="item item-thumbnail-left" href="#/tab/lara">
          <img src="./img/cover.jpg">
          <h2>Delicacy Ni!</h2>
          <p>Lara here..</p>
        </a>

        <a id="data" class="item item-thumbnail-left" href="#/tab/paul">
          <img src="./img/cover1.jpg">
          <h2>Delicacy japun Ni!</h2>
          <p>Paul here..</p>
        </a>
    </div>
  </ion-content>
</ion-view>
