<ion-view view-title="Handicrafts">
  <ion-content>
    <div class="button-bar">
      <a href="#/tab/delicacy" class="button  button-energized">Delicacy</a>
      <a class="button  button-assertive">Handicrafts</a>
    </div>

    <div class="list">
        <a class="item item-thumbnail-left" href="#/tab/paul">
          <img src="img/Handicrafts.jpg">
          <h2>Hanoi Handicrafts</h2>
          <p>Handicrafts in Hanoi varies from lacquer ware, mother-of-pearl inlaid furniture, ceramics, sandalwood statuettes, watercolours, 
oil paintings, prints and assorted antiques (real and imitation). </p>
        </a>

        <a class="item item-thumbnail-left" href="#/tab/lara">
          <img src="img/puyo.jpg">
          <h2>Puyo Handicrafts</h2>
          <p>Belongs to the family of the banana plant (Musaceae family) and is indigenous to the Philippines. The banana plant and the abaca plant
 has a striking similarity in looks but the main difference is that <br>
 the fruit of the abaca plant is inedible. Its fiber is known as the Manila Hemp.
 Abaca is not a hemp but since hemp was the main source of fiber for centuries, the abaca fiber was named Manila hemp.</p>
      <a class="item item-thumbnail-left" href="#/tab/lara">
          <img src="img/lumad.jpg">
      <h2>Lumad</h2>
          <p>Sabutan fiber is primarily used for manufacturing hats. Headwears made of
sabutan are strong and durable. Sleeping mats of excellent quality are made
from sabutan fibers either in their natural color <br>
or dyed shades. Sabutan is also an excellent material for cushions and is good for making handbags,
picture frames, and other fancy articles.</p>
 <a class="item item-thumbnail-left" href="#/tab/lara">
          <img src="img/cdo.jpg">
      <h2>Pottering</h2>
          <p>Sabutan fiber is primarily used for manufacturing hats. Headwears made of
sabutan are strong and durable. Sleeping mats of excellent quality are made
from sabutan fibers either in their natural color <br>
or dyed shades. Sabutan is also an excellent material for cushions and is good for making handbags,
picture frames, and other fancy articles.</p>
 <a class="item item-thumbnail-left" href="#/tab/lara">
          <img src="img/img.jpg">
      <h2>Handicrrafts</h2>
          <p>Sabutan fiber is primarily used for manufacturing hats. Headwears made of
sabutan are strong and durable. Sleeping mats of excellent quality are made
from sabutan fibers either in their natural color <br>
or dyed shades. Sabutan is also an excellent material for cushions and is good for making handbags,
picture frames, and other fancy articles.</p>
<a class="item item-thumbnail-left" href="#/tab/lara">
          <img src="img/img.jpg">
      <h2>Handicrrafts</h2>
          <p>Sabutan fiber is primarily used for manufacturing hats. Headwears made of
sabutan are strong and durable. Sleeping mats of excellent quality are made
from sabutan fibers either in their natural color <br>
or dyed shades. Sabutan is also an excellent material for cushions and is good for making handbags,
picture frames, and other fancy articles.</p>
        </a>

    </div>
  </ion-content>
</ion-view>
